<% if flash[:notice] %>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
<% end %>
 <body>
<main>
  <div class="container px-5 px-sm-0">
  <div class="col-md-3">
    <h2>User info</h2>
    <% users.each do |user| %>
    <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <label for="inputImage">ProfileImage</label>
    <img class="attachment user profile_image fallback" src="/assets/no_image-ede28af….jpg">
    <table>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </table>
    <% end %>
    <div class="row">…</div>
    <h2 class="mt-3">New book</h2>
<%= form_with model: book, local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :book_title %>
  <h4>Opinion</h4>
  <%= f.text_area :caption %>
  <%= f.submit 'Create Book' %>
<% end %>
  </div>
</main>

