<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/list', user: @book.user, book: @book_new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= link_to book_path(@book.id) do %>
      <% end %>

      <h2>Book detail</h2>
      <table>
        <tbody>
          <tr>
            <td><%= attachment_image_tag @book.user, :profile_image, size:"40x40", fallback: "no_image.jpg"%> <%= link_to @book.user.name, user_path(@book.user_id)%></td>
            <td><%= link_to @book.title, book_path %></td>
            <td><%= @book.body %></td>
            <td></td>
            <% if @book.user.id == current_user.id %>
            <td><p><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></p></td>
            <td><p><%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-sm btn-danger" %></p></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

